﻿
@{
    ViewBag.Title = "Categorías";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Breadcrumb -->
<ol class="breadcrumb mb-4 mt-4">
    <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Mantenimiento</a></li>
    <li class="breadcrumb-item active">Categorías</li>
</ol>

<!-- Card -->
<div class="card">
    <div class="card-header">
        <i class="fas fa-table me-1"></i> Lista de categorías
    </div>

    <div class="card-body">
        <div class="row">
            <div class="col-12">
                <button type="button" class="btn btn-success" onclick="abrirModal(null)">Crear nueva</button>
            </div>
        </div>

        <hr />

        <table id="tabla" class="display cell-border" style=" width: 100%">
            <thead>
                <tr>
                    <th>Descripción</th>
                    <th>Activo</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="FormModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-dark text-white">
                <h5 class="modal-title" id="exampleModelLabel">Añadir categoría</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <input id="txtid" type="hidden" value="0" />

                <div class="row g-1">

                    <div class="col-sm-6">
                        <label for="txtnombres" class="form-label">Descripción</label>
                        <textarea class="form-control" id="txtdescripcion"></textarea>
                        @*<input type="text" class="form-control" id="txtdescripcion" autocomplete="off" />*@
                    </div>

                    <div class="col-sm-6">
                        <label for="cboactivo" class="form-label">Activo</label>
                        <select id="cboactivo" class="form-select">
                            <option value="1">Sí</option>
                            <option value="0">No</option>
                        </select>
                    </div>

                </div>

                <!-- Mensaje de alerta -->
                <div class="row mt-4">
                    <div class="col-12">
                        <div id="mensajeError" class="alert alert-danger" role="alert"></div>
                    </div>
                </div>

            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" onclick="Guardar()">Guardar cambios</button>
            </div>

        </div>
    </div>
</div>

@section scripts{
    <script>
        var tabladata;
        var filaSeleccionada;
        tabladata = $("#tabla").DataTable({
            responsive: true,
            ordering: false,
            "ajax": {
                url: '@Url.Action("ListarCategoria","Mantenimiento")',
                type: "GET",
                dataType: "json"
            },
            "columns": [
                {"data":"Descripcion"},
                {
                    "data": "Activo", "render": function (valor) {
                        if (valor) {
                            return '<span class="badge bg-success">On</span>'
                        } else {
                            return '<span class="badge bg-danger">Off</span>'
                        }
                    }
                },
                {
                    "defaultContent": '<button type="button" class="btn btn-primary btn-sm btn-editar"><i class="fas fa-pen me-1"></i></button>'+
                        '<button type="button" class="btn btn-danger btn-sm ms-2 btn-eliminar"><i class="fas fa-trash me-1"></i></button>',
                    "orderable": false,
                    "searchable": false,
                    "width":"90px"
                }
            ],
            "language": {
                "url": "https://cdn.datatables.net/plug-ins/1.13.4/i18n/es-ES.json"
            }
        });

        function abrirModal(json) {

            $("#txtid").val(0);
            $("#txtdescripcion").val("");
            $("#cboactivo").val(1);
            $("#mensajeError").hide();

            if (json != null) {
                $("#txtid").val(json.IdCategoria);
                $("#txtdescripcion").val(json.Descripcion);
                $("#cboactivo").val(json.Activo == true ? 1 : 0);
            }
            $("#FormModal").modal("show");
        }

        $("#tabla tbody").on("click", '.btn-editar', function () {
            filaSeleccionada = $(this).closest("tr");
            var data = tabladata.row(filaSeleccionada).data();
            abrirModal(data);
        })

        $("#tabla tbody").on("click", '.btn-eliminar', function () {
            var categoriaSeleccionada = $(this).closest("tr");
            var data = tabladata.row(categoriaSeleccionada).data();
            swal({
                title: "Se va a eliminar una categoría",
                text: "¿Desea continuar?",
                type: "warning",
                showCancelButton: true,
                confirmButtonClass: "btn-outline-danger",
                confirmButtonText: "Continuar",
                cancelButtonText: "Volver",
                closeOnConfirm: false
            },
            function () {
                swal("¡Eliminado!", "La categoría " + data.Descripcion + " ha sido borrada.", "success");
                jQuery.ajax({
                    url: '@Url.Action("EliminarCategoria", "Mantenimiento")',
                    type: "POST",
                    data: JSON.stringify({ id: data.IdCategoria}),
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {
                        if (data.respuesta) {
                            tabladata.row(categoriaSeleccionada).remove().draw();
                        } else {
                            swal("No se pudo eliminar", data.mensaje, "error");
                        }
                    },
                    error: function (error) {
                        console.log(error)
                    }
                });
            });
        })

        function Guardar() {
            var Categoria = {
                IdCategoria: $("#txtid").val(),
                Descripcion: $("#txtdescripcion").val(),
                Activo: $("#cboactivo").val() == 1 ? true: false,
            }

            jQuery.ajax({
                url: '@Url.Action("GuardarCategoria","Mantenimiento")',
                type: "POST",
                data: Categoria,
                dataType: "json", /*contentType: "application/json; charset=utf-8",*/
                success: function (data) {
                    $(".modal-body").LoadingOverlay("hide");
                    // NUEVA CATEGORIA
                    if (Categoria.IdCategoria == 0) {
                        if (data.resultado != 0) {
                            Categoria.IdCategoria = data.resultado;
                            tabladata.row.add(Categoria).draw(false);
                            $("#FormModal").modal("hide");
                        } else {
                            $("#mensajeError").text(data.mensaje);
                            $("#mensajeError").show();
                        }
                    }
                    // EDITAR CATEGORIA
                    else {
                        if (data.resultado) {
                            tabladata.row(filaSeleccionada).data(Categoria).draw(false);
                            filaSeleccionada = null;
                            $("#FormModal").modal("hide");
                        } else {
                            $("#mensajeError").text(data.mensaje);
                            $("#mensajeError").show();
                        }
                    }
                },
                error: function (error) {
                    $(".modal-body").LoadingOverlay("hide");
                    $("#mensajeError").text("Error Ajax");
                    $("#mensajeError").show();
                },
                beforeSend: function () {
                    $(".modal-body").LoadingOverlay("show", {
                        imageResizeFactor: 2,
                        text: "Cargando...",
                        size: 14
                    })
                },
            });
        }
    </script>
}

