﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido/a a mi página</h1>
        <h2>Creada con ASP.NET Core</h2>
        <br />
        <hr />
    <p>Mira mi proyecto de C# <a href="https://gitlab.com/royvao/dam/-/tree/main/C%23/2304/Battleship_sockets">BattleShip with Sockets</a>.</p>
</div>
