﻿@{
    ViewData["Title"] = "Sobre mí";
}
<h1><a><img src="~/img/mainIcon.png" width="100" height="100" /></a> Roy Vao </h1>
<h2>Desarrollador</h2>
<hr />
<p>
<a href="https://gitlab.com/LambdaR">Mi GitLab</a>
</p>
