﻿@model LoginModel

@using MVC_Catálogo_Imágenes.Controllers

@if (CuentaController.IsAuth)
{
    ViewData["Title"] = "Perfil";
    <section class="h-100 gradient-custom-2">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col col-lg-9 col-xl-7">
                    <div class="card">
                        <div class="rounded-top text-white d-flex flex-row" style="background-color: #012; height:200px;">
                            <div class="ms-4 mt-5 d-flex flex-column" style="width: 150px;">
                                <img src="https://acortar.link/T2A1Hz"
                alt="Generic placeholder image" class="img-fluid img-thumbnail mt-4 mb-2"
                style="width: 150px; z-index: 1">
                                <button type="button" class="btn btn-outline-dark" data-mdb-ripple-color="dark"
                style="z-index: 1;">
                                    Editar perfil
                                </button>
                            </div>
                            <div class="ms-3" style="margin-top: 100px;">
                               <h5>@Model.User.ToUpper()</h5>
                               <p>Usuario estándar</p>
                               <p>Nivel: 1</p>
                               @*<p>Nublivia (Vakoria)</p>
                               <span><a href="mailto:@Model.User@@sprenkomail.vk">@Model.User@@sprenkomail.vk</a></span>*@
                            </div>
                        </div>
                        <div class="p-4 text-black" style="background-color: #f8f9fa;">
                            <div class="d-flex justify-content-end text-center py-1">
                                <div>
                                    <p class="mb-1 h5">0</p>
                                    <p class="small text-muted mb-0">Pulbicaciones</p>
                                </div>
                                <div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body p-4 text-black">
                            <div class="mb-5">
                                <p class="lead fw-normal mb-1">Sobre mí </p>
                                
                                <div class="p-4" style="background-color: #f8f9fa;">

                                    <p class="font-italic mb-1">
                                        "Neuro-Creativo", especializado en
                                        diseñar experiencias innovadoras que
                                        estimulen la creatividad y la mente.
                                    </p>
                                    <hr />
                                    <p class="font-italic mb-1">
                                        Nublivia es conocida por su arquitectura
                                        futurista y su clima nublado que
                                        inspira a los artistas y creadores.
                                    </p>
                                    <hr />
                                    <p class="font-italic mb-0">
                                        Me gusta practicar "Foliphantasia", un hobbie
                                        que consiste en crear historias ficticias
                                        sobre elefantes voladores y su mundo imaginario.
                                    </p>

                                </div>
                                <br>
                                @*<div style="text-align:right">
                                        <input type="button" value="Editar">
                                </div>*@
                                
                            </div>
                            <div class="d-flex justify-content-between align-items-center mb-4">
                                <p class="lead fw-normal mb-0">Últimas publicaciones</p>
                                <p class="mb-0"><a href="#!" class="text-muted">Ver todas</a></p>
                            </div>
                            <div class="row g-2">
                                <div class="col mb-2">
                                    <img 
                                        src="https://images.nightcafe.studio/jobs/g6WVWu3sPE7NTMvn0UkE/g6WVWu3sPE7NTMvn0UkE--1--7z40j.jpg?tr=w-1600,c-at_max"
                  alt="image 1" class="w-100 rounded-3">
                                </div>
                                <div class="col mb-2">
                                    <img src="https://images.nightcafe.studio/jobs/g6WVWu3sPE7NTMvn0UkE/g6WVWu3sPE7NTMvn0UkE--2--xdvip.jpg?tr=w-1600,c-at_max"
                  alt="image 1" class="w-100 rounded-3">
                                </div>
                            </div>
                            <div class="row g-2">
                                <div class="col">
                                    <img src="https://images.nightcafe.studio/jobs/g6WVWu3sPE7NTMvn0UkE/g6WVWu3sPE7NTMvn0UkE--3--fsotl.jpg?tr=w-1600,c-at_max"
                  alt="image 1" class="w-100 rounded-3">
                                </div>
                                <div class="col">
                                    <img src="https://images.nightcafe.studio/jobs/g6WVWu3sPE7NTMvn0UkE/g6WVWu3sPE7NTMvn0UkE--4--atfrm.jpg?tr=w-1600,c-at_max"
                  alt="image 1" class="w-100 rounded-3">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <br />
            <div style="text-align:right;">
            <a id="volver-arriba" class="btn btn-outline-info" href="#">^</a>
            </div>
            <style>
                #volver-arriba {
                  transition: all 0.2s ease-in-out;
                }

                #volver-arriba:hover {
                  transform: scale(1.1);
                }
                </style>
            <script>
                  var boton = document.getElementById("volver-arriba");
                  boton.onmouseover = function() {
                    boton.innerHTML = "Volver arriba";
                  };
                  boton.onmouseout = function() {
                    boton.innerHTML = "^";
                  };
                </script>
            <br />
        </div>
    </section>
}
else
{
    ViewData["Title"] = "Error";
    <center><h1>Error 404: Página no encontrada</h1></center>
}
