﻿@model UsuarioModel
@using MVC_Catálogo_Imágenes.Controllers
    
@{
    ViewData["Title"] = "Verificación de cuenta";
}

@if (CuentaController.IsAuth)
{
    <div class="container">
        <br />
        <br />
        <h1>¡Hola @Model.Nombre!</h1>
        <h3>@ViewData["mensaje"]</h3>         
    </div>
}
else
{
    if (CuentaController.IsVerify)
    {
       <div class="container">
       <br />
       <br />
       <h1>¡Hola @Model.Nombre!</h1>
       <h3>@ViewData["mensaje"]</h3> 
       <br>
       <h5>Ya puede iniciar sesión en nuestra web.</h5>
       </div>
    }
    else
    {
       <h3>@ViewData["mensaje"]</h3>
       <div class="container">
       <br />
       <br />
       <h1>¡Hola @Model.Nombre!</h1>
       <br />
       <h4>Se le ha enviado un correo electrónico (@Model.Correo) para verificar su cuenta.</h4>
       <h5>Por favor revise su bandeja de entrada. No olvider echar un ojo a la carpeta de Spam...</h5>            
       </div>
    }
        
}